extends layout

block content
  .hero
    .inner-content
      .logo
        img(src="/img/nerdy.svg")

        .nerdy-title The Nerdy
          span.break Conservative

  .content
    .inner-content
      .post
        .post-meta
          .post-date April 9, 2015
        h2.post-title
          a(href="/single.html") Give yourself a redesign

      .post
        .post-meta
          .post-date March 6, 2015
        h2.post-title
          a(href="/single.html") The truth about extends

      .post
        .post-meta
          .post-date February 14, 2015
        h2.post-title
          a(href="/single.html") Designers who align right
