extends layout

block content

  .single
    .hero
      .inner-content
        .logo
          img(src="/img/nerdy.svg")

          .nerdy-title The Nerdy
            span.break Conservative

    .content
      .inner-content
        .post-meta
          .post-date April 9, 2015
        h1.post-title Give yourself a redesign
        img(src="https://d13yacurqjgara.cloudfront.net/users/124059/screenshots/842675/attachments/88571/preview.png")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod.

    .article-nav
      .nav.nav-next
        a(href="#") &rarr;
      .nav.nav-prev
        a(href="#") &larr;
