@font-face
  font-family: 'callunaregular'
  src: url('/fonts/calluna/calluna-regular-webfont.eot')
  src: url('/fonts/calluna/calluna-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/calluna/calluna-regular-webfont.woff2') format('woff2'),
       url('/fonts/calluna/calluna-regular-webfont.woff') format('woff'),
       url('/fonts/calluna/calluna-regular-webfont.ttf') format('truetype'),
       url('/fonts/calluna/calluna-regular-webfont.svg#callunaregular') format('svg')
  font-weight: normal
  font-style: normal
